*
{  
    
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    background-color: black;
    padding: 30px 10%;
    margin-bottom: 50px;
   
}
li, a, button{
    font-family: "montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
.nav-link{
    list-style: none;
}
.nav-link li{
    display: inline-block;
    padding:0px 20px;
}

.nav-link li a:hover{
    color: #af4261;

}
button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color:#af4261 ;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.diet{

    display: flex;
   margin-bottom: 50px;
   
}
span{
   background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
    
.button{
    margin-top: 20%;
    text-decoration: none;
    background-image: linear-gradient( #f3ec78, #af4261);
    color:white;
    padding: 10px 40px;
    border-radius: 20px; 
    box-shadow:5px 5px 5px #af4261;
}
.box-1{
    
    margin-top: 6%;
    width: 40%;
    padding-left: 10%;
    
}
.about-us{

  width: 95%;
  margin-left: 3%;
 
    background-image: url(food-network-main/images/shapes/Frame\ 58.jpg);
    display: flex;
   margin-bottom: 50px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.box-3
{ 
    text-align:center;
    flex: 33.3%;
    padding-top: 7%;
    padding-left: 6%;
   
}
.box-4{
    width: 30%;
    padding-bottom: 6%;
   margin-right: 15px;
   border-radius: 10px;
   box-shadow: 10px 10px 10px #af4261;
}
.box-5{
    width: 80%;
    margin-left:7%;
}
.box-6{
    flex: 33.3%;
    padding-bottom: 20px;
}
.foot{
    height: 30%;
    padding: 2%;
   background-color: black;
   color: white;
}



